* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: myfonts;
  src: url(./fonts/Satoshi-Bold.woff);
  src: url(./fonts/Satoshi-Bold.woff2);
  src: url(./fonts/Satoshi-Medium.woff);
  src: url(./fonts/Satoshi-Medium.woff2);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

/* styling for the whole content wrapper */
.wrapContainer {
  /* margin: 0.8em; */
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* styling for header section */
header {
  padding-left: 10px;
  margin: 5px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
.topLHeaderWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topLHeaderWrap img {
  padding: 5px 6px;
  width: auto;
}
.topRHeaderWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
.topRHeaderWrap img {
  padding: 5px 2px;
  width: auto;
}
.topHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14.5em;
}
.lowerHeader {
  align-self: flex-end;
  padding: 2px 10px;
}

/* styling for hero section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.hero h1 {
  width: 254px;
  text-align: center;
  color: #353431;
  font-size: 2rem;
  font-weight: 700;
  font-family: myfonts;
}
.hero p {
  color: #353431b2;
  width: 256px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  font-family: myfonts;
}
.cta1 {
  width: 153px;
  border-radius: 8px;
  /* outline: none; */
  border: none;
  height: 36px;
  font-size: 1rem;
  font-weight: 700;
  background-color: #db8e21;
  color: #ffffff;
  font-family: myfonts;
}

/* Styling for main section */
main {
  width: inherit;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main h2 {
  color: #353431;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  padding: 10px 5px;
  font-family: myfonts;
}

.pLocations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.spotContainerOff,
.spotContainerOn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 13rem;
  height: 7rem;
  border-radius: 8px;
  /* justify-content: space-between; */
}

.spotContainerOn {
  background-color: rgb(255, 215, 105);
}
.spotContainerOff {
  background-color: #353431;
}

.spot1,
.spot2 {
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  width: 7rem;
  font-family: myfonts;
}
.spot1,
.off {
  color: #ffffff;
}
.spot2 {
  color: #353431;
}
.lightStatus {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px 10px;
}

/* Styling for the ranking section */
.ranking {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.ranking h3 {
  padding: 2px;
  width: 15em;
  font-size: 1.1rem;
  font-weight: 700;
  color: #353431;
  font-family: myfonts;
}
.tabularRanking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#rank1 {
  display: none;
}

.rank {
  width: 358px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: ;
  border: 1px solid #3534311a;
  border-radius: 5px;
  margin: 0.5em 0;
}

.nextOrder {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  align-items: center;
  margin-left: 7px;
}
.nextOrder p {
  padding: 5px 0px;
  margin-left: 15px;
  font-size: 1.05rem;
  font-weight: 400;
  color: #353431;
  font-family: myfonts;
}

.hours {
  padding: 5px 6px;
  margin-left: 40px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #353431b2;
  font-family: myfonts;
}
/* Styling for the menu and nav section */
.menuIcons {
  /* width: 90rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
  background-color: blanchedalmond;
}
.hideLogo {
  display: none;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: inherit;
  margin-top: 15px;
  list-style-type: none;
}

a {
  margin: 0;
}
a img {
  width: 5rem;
  height: 2.5rem;
}

.LRscroll {
  width: 164px;
  height: 5px;
  background-color: rgb(58, 56, 56);
  margin: 10px 0;
  border-radius: 5px;
}

/* Responsiveness for bigger screens */

@media (min-width: 600px) {
  .wrapContainer {
    min-width: 600px;
  }

  main {
    width: inherit;

    overflow: visible;
  }
  .pLocations {
    display: grid;
    gap: 2.2em;
    grid-template-columns: auto auto;
  }
  .spotContainerOff,
  .spotContainerOn {
    width: 18rem;
    height: 10rem;
    border-radius: 10px;
  }
  .spot1,
  .spot2 {
    padding: 1em;
    font-size: 1.1rem;
    font-weight: 600;
    width: 7em;
    font-family: myfonts;
  }
}

/* Medium Screens */
@media (min-width: 800px) {
  .wrapContainer {
    min-width: 800px;
  }

  header {
    display: none;
  }

  .hero {
    margin: 2em 3em;

    h1 {
      width: 25em;
    }
    p {
      width: 30em;
    }
  }

  .pLocations {
    gap: 2.5em;
  }

  .spot1,
  .spot2 {
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    width: 10rem;
    font-family: myfonts;
  }

  .tabularRanking {
    box-shadow: 2px 3px 3px 5px #3534311a;
  }

  #rank1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8em;

    div {
      align-items: flex-start;
      padding-left: 20px;
      margin-left: 1.8em;
      font-family: myfonts;
    }
  }

  .rank {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 650px;
    gap: 1rem;
    border: none;
  }
  .nextOrder {
    gap: 7em;

    p {
      text-align: center;
    }
  }
  .hours {
    font-size: 1rem;
    margin: 0;
    text-align: center;
    font-weight: 700;
  }
  .menuIcons {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 8em;
    height: 100vh;
    background-color: beige;
  }

  .LRscroll {
    display: none;
    margin: 0;
  }
  .hideLogo {
    display: inline;
  }
  nav {
    margin: 0;
    padding: 0;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5em;
  }
  nav ul li a {
    padding: 1em 0.5em;
  }

  a img {
    width: 3rem;
    height: 2.2rem;
    &:hover {
      background-color: rgb(255, 215, 105);
      padding: 0.4em;
    }
  }
}

/* Larger Screens */
@media (min-width: 1200px) {
  .pLocations {
    display: grid;
    gap: 2.2em;
    grid-template-columns: auto auto auto;
  }

  .hero {
    margin: 2em;

    h1 {
      font-size: 1.9rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
  main h2 {
    font-size: 1.8rem;
    margin: 0.3em;
  }
  #rank1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;

    div {
      align-items: flex-start;
      padding-left: 2.2em;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  .rank {
    justify-content: space-between;
    align-items: center;
    width: inherit;
  }
  .ranking {
    margin: 3.5em 0;
    h3 {
      font-size: 1.7rem;
    }
  }
  .tabularRanking {
    min-width: 60em;
  }

  .nextOrder p,
  .hours {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
  }

  a img {
    width: 3rem;
    height: 1.8rem;
    margin: 0.5em;
  }
}
